
@{
    ViewBag.Title = "Tin tức công nghệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Tin tức công nghệ</h1>
                            <ol class="breadcrumb">
                                <li><a href="home/index">Trang chủ</a></li>
                                <li class="active">Tin tức công nghệ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 blog_list">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 news-list">
                @Html.Action("Partial_News", "News")
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right" id="loading" style="display: none;">
                <img src="~/Content/users/images/loading.gif" style="background-color: transparent" alt="Loading..." />
            </div>
        </div>
    </div>
</div>
<!-- end section -->
@section scripts{
    <script>
        $(document).on("click", ".pagination a", function (e) {
            e.preventDefault();
            $('#loading').show();
            $('.news-list').hide();
            // Lấy đường dẫn href của nút phân trang
            var url = $(this).attr("href");

            // Gửi yêu cầu ajax đến server để lấy dữ liệu mới
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $('#loading').hide();
                    $('.news-list').show();
                    // Cập nhật lại nội dung của phần tử chứa dữ liệu
                    $(".news-list").html(result);
                },
                error: function () {
                    alert('Đã có lỗi xảy ra!');
                }
            });
        });
        $(function () {
            $('form').on('submit', function () {
                $('#loading').show(); // Hiển thị hình đang load
            });
        });
    </script>
}