@model IEnumerable<Web_Hutech_Gear.Models.EF.Comment>
@using Web_Hutech_Gear.Models
@{
    ApplicationDbContext db = new ApplicationDbContext();
}
<!-- #region Bình luận -->
@foreach (var item in Model)
{
    string userId = item.UserId;
    var findNew = db.Users.FirstOrDefault(p => p.Id == userId);
    <div class="replly_comment">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <div class="full command_cont margin_bottom_0" style="min-height: auto;">
                    <div class="row" style="align-items:center">
                        <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6" style="float: left;">
                            <img src="~/Content/Images/@findNew.Avatar" alt="AVATAR" style="width: 100%; height: auto; border-radius: 50%;">
                        </div>
                        <b>@findNew.FullName</b>
                    </div>
                    <div style="padding-left: 60px;">
                        <span>
                            @Html.Raw(item.Content)
                        </span>
                        <p class="comm_head">
                            <span>@item.CreatedDate.ToString("dd-MM-yyyy")</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}