@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using Web_Hutech_Gear.Models
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    @{
        IdentityDbContext<ApplicationUser> context = new IdentityDbContext<ApplicationUser>();
        var ID = User.Identity.GetUserId();

        var find = context.Users.FirstOrDefault(p => p.Id == ID);
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image" style="margin-top:10px;">
                @if (!string.IsNullOrEmpty(find.Avatar))
                {
                    <img class="img-circle elevation-2" alt="User Image" src="~/Content/Images/@find.Avatar" />
                }
                else
                {
                    <img class="img-circle elevation-2" alt="User Image" src="~/Content/Images/avt.jpg" />
                }
            </div>
            <div class="info">
                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ActionLink(find.FullName.ToString(), "Update", "Account", new { area = "" }, htmlAttributes: new { title = "Manage", @class = "d-block" })
                    <a class="rd-nav-link" href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a>
                }

            </div>
        </div>

    }


    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/posts" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Bài viết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/order" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đơn hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/contact" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Liên hệ từ khách hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/adv" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quảng cáo
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý tin tức
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/News" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục tin tức</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/newscategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Chủ đề tin tức</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/Product" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Loại Sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Supplier" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Nhà cung cấp</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Status" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Trạng thái</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý tài khoản
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/Account" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục tài khoản</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Role" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Vai trò tài khoản</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/Admin/SettingSystem" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Cấu hình hệ thống
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- /.sidebar -->
