@model Web_Hutech_Gear.Models.EF.Contact

<form id="contactForm" action="@Url.Action("Partial_Contact", "Home")" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="field row" style="padding-left: 5px">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", type = "email" })
            <button type="submit" class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
        </div>
    </fieldset>
</form>
