@using Microsoft.AspNet.Identity
@using Web_Hutech_Gear.Models
@using Microsoft.AspNet.Identity.EntityFramework
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    IdentityDbContext<ApplicationUser> context = new IdentityDbContext<ApplicationUser>();
                    var ID = User.Identity.GetUserId();

                    var find = context.Users.FirstOrDefault(p => p.Id == ID);
                    if (find.FullName != null)
                    {
                        @Html.ActionLink("Xin Chào " + find.FullName.ToString() + "!", "Update", "Account", new { area = "" }, htmlAttributes: new { title = "Manage", @class = "rd-nav-link" })
                    }
                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

