@{
    ViewBag.Title = "Password Reset Requested";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-center">
            <h1 class="mb-4">Password Reset Requested</h1>
            <p class="lead">Please check your email for further instructions on how to reset your password.</p>
            <p>If you don't receive an email within a few minutes, please check your spam folder or try again later.</p>
        </div>
    </div>
</div>


