.brand_list li {
    float: left;
    width: 19%;
    text-align: center;
    background-color: transparent;
    padding: 30px 0;
    margin: 0 .5%;
    border: none;
}

.section-slide {
    background-color: #FFF;
    font-family: Arial;
    padding: 50px 0;
}

.item-slick1 {
    position: relative;
}

.content {
    padding: 0 30px;
}

.ltext-101 {
    font-size: 48px;
    color: #FFF;
}

.ltext-201 {
    font-size: 36px;
    color: #FFF;
}

.image {
    text-align: center;
}

.circle {
    width: 800px;
    height: 400px;
    background-color: #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

    .circle img {
        max-width: 800px;
        max-height: 400px;
        background-color: transparent;
    }

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #212529;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212529;
}

.brand_list li img {
    filter: grayscale(100%);
}

    .brand_list li img:hover {
        filter: grayscale(0);
    }
