@{
    ViewBag.Title = "Chat";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
        <div class="card">
            <div class="card-body" id="partialListChat">
                @Html.Action("Partial_List", "ChatAdmin")
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-7 col-xl-8">
        <div id="chat-container">
            <!-- Nội dung của phần Chat sẽ được cập nhật ở đây -->
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            // Xử lý sự kiện nhấp vào đường dẫn chat
            $('.chat-user').on('click', function (event) {
                event.preventDefault();

                var url = $(this).data('url'); // Lấy URL từ thuộc tính data-url của phần tử

                // Gửi yêu cầu AJAX để tải nội dung chat từ URL
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (result) {
                        // Xử lý thành công
                        // Ví dụ: Cập nhật nội dung chat trong phần Chat
                        $('#chat-container').html(result);
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi
                        console.error(error);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
              $('.count-chat').click(function () {
                  var url = '@Url.Action("Partial_Chat", "ChatAdmin")';
                  
                $('#partialChatDiv').load(url, function () {
                  var countChat = $('#countChatBadge').data('count');
                    $('#countChatBadge').text(countChat);
                    
                });
              }).trigger('click'); // Kích hoạt sự kiện click ngay sau khi gắn sự kiện
            $('.count-chat').click(function () {
                // Đặt giá trị của user.IsRead thành 0
                $(this).find('.badge.bg-danger.float-end').text('0');
            });
        });
        
    </script>

}
