@using Web_Hutech_Gear.Models.Support
@{
    ViewBag.Title = "Trang sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/users/price.css" rel="stylesheet" />
</head>
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Sản phẩm</h1>
                            <ol class="breadcrumb">
                                <li><a href="/home/index">Trang chủ</a></li>
                                <li class="active">Sản phẩm</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 product_list_main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <div id="loading" style="display: none;">
                    <img src="~/Content/users/images/loading.gif" style="background-color: transparent" alt="Loading..." />
                </div>
                <div class="product-list">
                    @Html.Action("Partial_Procducts", "Products")
                </div>
            </div>

            <div class="col-md-3">
                <div class="side_bar">
                    <div class="side_bar_blog">
                        <h4>Tìm kiếm</h4>

                        <div class="side_bar_search">
                            @using (Html.BeginForm("Partial_Procducts", "Products", FormMethod.Get, new { @class = "search-form" }))
                            {<div class="input-group stylish-input-group">
                                    <input class="form-control" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Tìm kiếm sản phẩm" type="text">
                                    <span class="input-group-addon">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <h4>Khoảng giá</h4>
                        <div class="price-input">
                            <div class="field">
                                <input type="number" class="input-min" id="myInput" value="0" />
                            </div>
                            <div class="separator">-</div>
                            <div class="field">
                                <input type="number" class="input-max" id="myInput" value="50000000" />
                            </div>
                        </div>
                        <div class="sliders">
                            <div class="progresss"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="50000000" value="0" step="1000000" />
                            <input type="range" class="range-max" min="0" max="50000000" value="50000000" step="1000000" />
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <h4 onclick="toggleCategory()" style="cursor: pointer;">
                            Loại sản phẩm
                            <i class="fas fa-chevron-down" style="margin-left: 5px;"></i>
                        </h4>
                        <div class="categary" id="categoryContainer">
                            @Html.Action("Partial_GetCategory", "Products")
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <h4 onclick="toggleSupplier()" style="cursor: pointer;">
                            Nhà cung cấp
                            <i class="fas fa-chevron-down" style="margin-left: 5px;"></i>
                        </h4>
                        <div class="categary" id="supplierContainer">
                            @Html.Action("Partial_GetSupplier", "Products")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end section -->
@section scripts{
    <!-- js range price -->
    <script src="~/Content/users/price.js"></script>
    <!-- ajax Tìm kiếm -->
    <script>
        $(document).ready(function () {
            $('.search-form').submit(function (event) {
                event.preventDefault();
                searchProducts();
            });

            $('.input-min, .input-max, .range-min, .range-max').on('input', function () {
                searchProducts();
            });
            $('.cbkCategory').change(function () {
                searchProducts();
            });
            $('.cbkSupplier').change(function () {
                searchProducts();
            });
        });

        function searchProducts() {
            var form = $('.search-form');
            var searchString = form.find('input[name="searchString"]').val();
            var min = parseFloat($('.input-min').val());
            var max = parseFloat($('.input-max').val());
            var categoryIds = []; // Mảng chứa các id loại sản phẩm đã chọn
            var supplierIds = []; // Mảng chứa các id nha cung cap đã chọn
            $('.cbkCategory:checked').each(function () {
                categoryIds.push($(this).val());
            });

            $('.cbkSupplier:checked').each(function () {
                supplierIds.push($(this).val());
            });

            $('#loading').show();
            $('.product-list').hide();

            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: { searchString: searchString, categoryIds: categoryIds, supplierIds: supplierIds, min: min, max: max },
                success: function (result) {
                    $('#loading').hide();
                    $('.product-list').show();
                    $('.product-list').html(result);
                },
                error: function () {
                    alert('Đã có lỗi xảy ra!');
                }
            });
        }
        $(function () {
            $('.search-form').on('submit', function () {
                $('#loading').show(); // Hiển thị hình đang load
            });
        });
    </script>
    <script>
        $(document).on("click", ".pagination a", function (e) {
            e.preventDefault();
            $('#loading').show();
            $('.product-list').hide();
            // Lấy đường dẫn href của nút phân trang
            var url = $(this).attr("href");
            // Cuộn lên đầu trang
            $('html, body').animate({
                scrollTop: 420
            }, 'slow');
            // Gửi yêu cầu ajax đến server để lấy dữ liệu mới
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $('#loading').hide();
                    $('.product-list').show();
                    // Cập nhật lại nội dung của phần tử chứa dữ liệu
                    $(".product-list").html(result);

                },
                error: function () {
                    alert('Đã có lỗi xảy ra!');
                }
            });
        });
    </script>
    <script>
        let inputMin = document.querySelector('.input-min');
        let inputMax = document.querySelector('.input-max');

        inputMin.addEventListener('input', function () {
            if (parseInt(inputMin.value) < 0) {
                inputMin.value = 0;
            }
            if (parseInt(inputMin.value) > parseInt(inputMax.value)) {
                inputMin.value = inputMax.value;
            }
        });

        inputMax.addEventListener('input', function () {
            if (parseInt(inputMax.value) < 0) {
                inputMax.value = 0;
            }
            if (parseInt(inputMax.value) < parseInt(inputMin.value)) {
                inputMax.value = inputMin.value;
            }
        });

    </script>
    <script>
        function toggleCategory() {
            var categoryContainer = document.getElementById("categoryContainer");
            categoryContainer.style.display = categoryContainer.style.display === "none" ? "block" : "none";
        }
    </script>

    <script>
        function toggleSupplier() {
            var supplierContainer = document.getElementById("supplierContainer");
            supplierContainer.style.display = supplierContainer.style.display === "none" ? "block" : "none";
        }
    </script>
}
<style>
    .price-input .field {
        background: none;
        display: flex; /* Sử dụng flexbox để căn giữa */
        align-items: center; /* Căn giữa theo chiều dọc */
        justify-content: center; /* Căn giữa theo chiều ngang */
        background: none;
    }

    .field input {
        font-size: 15px
    }

</style>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>