.account {
    display: inline-block;
    position: relative;
    min-width: 50px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
}

    .account > a {
        display: block;
        color: white;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
        font-size: 13px;
    }

        .account > a > i {
            margin-left: 8px;
        }

.account_selection {
    display: none;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: auto;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
}

    .account_selection li {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 50px;
    }

        .account_selection li a {
            display: block;
            color: #232530;
            border-bottom: solid 1px #dddddd;
            font-size: 14px;
        }

            .account_selection li a:hover {
                color: #260966;
            }

            .account_selection li a:hover {
                color: #b5aec4;
            }

        .account_selection li:last-child a {
            border-bottom: none;
        }

        .account_selection li a i {
            margin-right: 10px;
        }

.account.active .account_selection {
    display: block;
    visibility: visible;
    opacity: 1;
    top: 100%;
}
