
@{
    ViewBag.Title = "Đặt hàng thành công";
}


<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li class="active"><a href="/Home/Index"><i style="padding:20px 20px" class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                </ul>
            </div>
            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12" id="load_data">
                   <h2>Bạn đã mua hàng thành công</h2>
                </div>
                
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
}

