@{
    ViewBag.Title = "Thanh toán";
}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Đặt hàng</h1>
                            <ol class="breadcrumb">
                                <li><a href="/home/index">Trang chủ</a></li>
                                <li><a href="/shoppingcart/index">Chi tiết đơn hàng</a></li>
                                <li class="active">Đặt hàng</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<div class="row">

    <div class="col-md-12 text-center" style="padding-top:10px">
        <h1 class="">Thanh toán</h1>
        <p>Bạn hãy kiểm tra lại thông tin đơn hàng cho chính xác!</p>
    </div>

</div>
<hr />
@if (ViewBag.CheckCart != null)
{
    <div class="section padding_layout_1 checkout_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @Html.Action("Partial_CheckOut", "Shoppingcart")
                </div>
                <div class="col-md-6">
                    @Html.Action("Partial_Item_ThanhToan", "ShoppingCart")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="section padding_layout_1 checkout_section">
        <div class="container">
            <div class="row text-center">
                <div>
                    Bạn chưa có sản phẩm nào.
                </div>
                <div class="coupon">
                    <a href="/products/index" class="button" style="color:#ff0000">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>

}
