@using Web_Hutech_Gear.Models.Support;

@{
    ViewBag.Title = "Giỏ hàng";
}
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Giỏ hàng</h1>
                            <ol class="breadcrumb">
                                <li><a href="/home/index">Trang chủ</a></li>
                                <li class="active">Giỏ hàng</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1 Shopping_cart_section load_data_cart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="product-table" >
                    <div class="load_data">
                        @Html.Action("Partial_Item_Cart_Detail", "ShoppingCart")
                    </div>
                    <table class="table shopping-cart">
                        <tbody>
                            <tr class="cart-form">
                                <td class="actions">
                                    <div class="coupon">
                                        <a href="/products/index" class="button">Tiếp tục mua sắm</a>
                                    </div>
                                    @if (ViewBag.CheckCart != null)
                                    {
                                        <div class="text-right">
                                            <div class="button btnDeleteAll"> <i class="fa fa-trash"></i>Xóa tất cả</div>
                                            <a href="/ShoppingCart/CheckOut" style="margin-right:10px" class="button">Đặt hàng</a>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>      
            </div>
        </div>
    </div>
</div>

