@using Web_Hutech_Gear.Models.Support;

@{
    ViewBag.Title = "Giở hàng";

}


<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Stylesheets-->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">

<link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/assets/css/fonts.css" rel="stylesheet" />
<link href="~/Content/assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<body>
    <div class="container product_section_container">
        <div class="row">
            <div class="col product_section clearfix">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center" style="padding-top:20px">
                    <ul >
                        <li style="display: inline-block"><a href="/Home/Index">Trang Chủ</a></li>
                        <li style="display: inline-block" class="active">> Giỏ Hàng</li>
                    </ul>
                </div>
                
                <!-- Sidebar -->
                <!-- Main Content -->

                <div class="row">
                    <div class="col-md-12" id="load_data">
                        @Html.Action("Partial_Item_Cart", "ShoppingCart")
                    </div>
                    <div class="col-md-12">
                        @if (ViewBag.CheckCart != null)
                        {
                            <div class="text-right">
                                <a href="#" class="btn btn-danger btnDeleteAll">Xóa</a>
                                <a href="/ShoppingCart/CheckOut" class="btn btn-success">Thanh toán</a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script src="~/Content/assets/js/categories_custom.js"></script>
    }
    <script src="~/Content/assets/js/core.min.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
</body>
